__pycache__/
*CommitFuture.egg-info
*.pyc
PID/
.pytest_cache
.ruff_cache
.env
/tests/test_file
.deepeval
.venv/
dist/
build/
.mypy_cache/
.vscode/
uploads/
.env
.env.test
logs/
storage/
frontend/.vite

